{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link href="{% static 'core/css/forms.css'%}" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand navbar-dark bg-danger">
        <div class="container">
          <img src="{% static 'core/img/logo.webp'%}" width="100" height="80" class="d-inline-block" alt="">
          <a class="navbar-brand" href="#">Taller mecánico Rayo Makween</a>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'producto' 'ins' -1%}">Mantenedor</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'producto_tienda' %}">Productos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'nosotros' %}">Nosotros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contacto' %}">Contacto</a>
            </li>
          </ul>
        </div>
      </nav>
    <div class="container">
        <h1>PRODUCTOS!!</h1>
        <br>
        {% if list%}
        <div class="row">
            {% for pro in list %}
            <a href="{% url 'ficha_producto' pro.id_producto %}">
                <div class="tienda_producto_recuadro">
                    <div class="tienda_producto_recuadro_interior">
                    </div>
                    <div>
                        {{pro.nombre}}
                        <br>
                        <img src="card-img-top" alt="{{pro.imagen.url}}">
                        {{pro.precio}}
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
        {% endif%}
      
    </div>
    <a href="{% url 'producto' 'ins' -1 %}" class="btn btn-info btn-sm centro">Volver a mantenedor</a>
</body>

</html>